<div class = 'container'>
    <h1>Ask a Question</h1>
    <form role = 'form'>
        <div class = 'form-group'>
            <label for="title">Title:</label>
            <input ng-model='questionTitle' class='form-control' id="title"/>
        </div>
        <div class="form-group">
            <label for="question">Question:</label>
            <textarea ng-model='questionBody' class="form-control" rows="5" id="question"></textarea>
        </div>
        <button ng-click="addQuestion()" class = 'btn'>
            Post Question
        </button>
    </form>
</div>